/*Background Image/Color*/
body {
  font-family: Helvetica;
  font-weight: 100;
  background-image: url(space.png);
  background-attachment:  fixed;
  background-size: cover;
  }

@font-face {
    font-family: "Adequate-ExtraLight";
    src: url(Adequate-ExtraLight.ttf);
}

/*Creating white transparant overlay behind all body text*/
div.overlay {
  background-color: rgba(51, 51, 51, 0.65);
  padding: 5px;
  margin: 5px;
}

p {
  color: white;
  text-align: center;
}

/* All navigation bar related */
nav ul {
    list-style-type: none;
    font-family: "Adequate-ExtraLight";
    font-weight: 100;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);;
}

nav li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/*Home page - either reigister, login or logout*/
.content-links ul {
    font-family: "Adequate-ExtraLight";
    font-weight: 100;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content-links li {
    color: white;
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.content-links li a {
    color: white;
    display: inline-block;
    width: 27%;
    text-align: center;
    padding: 20px 20px;
    border: solid;
    border-width: 2px;
    border-color: white;
    text-decoration: none;
}

/* Website Header and Image*/

/* Headers*/
#title {
  display: block;
  font-family: "Adequate-ExtraLight";
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

h2, h3, h4 {
  display: block;
  color: rgb(242, 202, 60);
  text-align: center;
  font-family: "Adequate-ExtraLight";
  font-weight: 100;
  font-size: 25px;
  padding: 5px;
  margin: 0px;
}

/*All Link Stuff*/
li a {
  font-family: "Adequate-ExtraLight";
  font-weight: 100;
  text-decoration: none;
  text-align: center;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(242, 202, 60);
  text-decoration: none;
}

/*Styling all forms*/
form {
  color: white;
  font-family: "Adequate-ExtraLight";
  font-weight: 100;
  text-align: center;
  font-size: medium;
  background-color: rgba(51, 51, 51, 0.7);;
  margin: 10px;
  padding: 5px;
}


input[type=text] {
    width: 27%;
    padding: 12px 20px;
    margin: 8px 0;
    border: solid;
    border-width: 2px;
    border-color: white;
    background-color: rgba(242, 202, 60, 0);
    color: white;
}

input[type=email] {
    width: 27%;
    padding: 12px 20px;
    margin: 8px 0;
    border: solid;
    border-width: 2px;
    border-color: white;
    background-color: rgba(242, 202, 60, 0);
    color: white;
}

input[type=password] {
    width: 27%;
    padding: 12px 20px;
    margin: 8px 0;
    border: solid;
    border-width: 2px;
    border-color: white;
    background-color: rgba(242, 202, 60, 0);
    color: white;
}

textarea {
    color: white;
    width: 30%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: rgba(242, 202, 60, 0);
    resize: none;
}

#delete {
  background-color: none;
}

.button {
    color: white;
    width: 32%;
    padding: 20px 20px;
    font-family: "Adequate-ExtraLight";
    font-weight: 100;
    font-size: 16px;
    border: solid;
    border-width: 2px;
    border-color: white;
    background-color: rgba(242, 202, 60, 0);
}


/* SECTION STYLING