<h3>Profile Page</h3>
<div class="overlay">

  <h4><%= @user.name %>'s Resources</h4>

  <div class="content-links">
    <% if @user.resources.any? %>
    <ul>
      <% @user.resources.each do |resource|%>
      <li><a href="/resources/<%= resource.id %>"><%= resource.name %></a></li>
    <% end %>
    </ul>
    <% else %>
      <p><%=@user.name%> hasn't created any resources</p>
    <ul>
      <li><a href="/resources/new">Create a New Resource</a><li>
    </ul>
    <% end %>
  </div>

    <p>   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <p>     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>