<h3>New Resource</h3>

<% if @errors %>
<%= erb :"_errors", locals: {errors: @errors} %>
<% end %>

<!-- Post to /plural - meaning you're making this thing -->
<form method="POST" action="/resources">
<!-- resource is like args when making a ruby object - you're creating a nested hash -->
    <input type="text" name="resource[name]" value="<%= @resource.try(:name) %>" placeholder="name">
    <textarea rows="15" cols="75" name="resource[description]" placeholder="description" value="<%= @resource.try(:description) %>"></textarea>
    <input type="submit" value="Create Resource" class="button">
</form>