<div class="content-links">
  <% if logged_in?  %>
  <ul>
    <li><a href="/users/<%= current_user.id %>"><%= current_user.name %>'s Profile Page</a><li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  <% else %>
  <ul>
    <li>Hello, Friend!</li>
    <li><a href="/sessions/new">Login</a></li>
    <li><a href="/users/new">Register</a></li>
  </ul>
  <% end %>
</div>

